{% extends "base.html.twig" %}

{% block body %}
<div class="cover-v1 jarallax" style="background-image: url('uploads/badr_chemise.jpg');" id="home-section">
        <div class="container">
          <div class="row align-items-center">
              
            <div class="col-md-7 mx-auto text-center">
              <h1 class="heading gsap-reveal-hero">Badr</h1>
              <h2 class="subheading gsap-reveal-hero">Je suis Badr BECHTIOUI, développeur web basé à Rabat-Maroc</h2>
            </div>

          </div>
        </div>
    <div class="row">
        <div class="col-12">
            <h1>Thomas Boileau</h1>
            <h2>Dévelopeur web</h2>
            <h3>Formations</h3>
            <div id="formations"></div>
            <h3>Compétences</h3>
            <ul class="list-group" id="skills"></ul>
            <h3>Références</h3>
            <div id="references" class="row"></div>
        </div>
    </div>
{% endblock %}